body{
    font-family: Poppins, sans-serif;
}

header{
    display:flex;
    flex-direction: column;
}

nav {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-logo{
    width: 5rem;
    padding-left: 1rem;
}

.nav-bar {
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    font-size: 15px;
}

.nav-bar li{
    margin-right: 20px;
    margin-top: 1rem;
}